
@charset "utf-8";
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "base"
;

// INTRO FOUT
.wf-loading #Intro {
visibility: hidden;
}
.wf-active #Intro {
visibility: visible;
}

.bg-cover{
  background-size:cover;
}
.bg-contain{
  background-size:contain;
}
.bg-center{
  background-position:center;
}
.bg-repeat{
  background-repeat:repeat;
}
.bg-repeat-x{
  background-repeat:repeat-x;
}
.bg-repeat-y{
  background-repeat:repeat-y;
}
.bg-repeat-none{
  background-repeat:no-repeat;
}

body{
  //background-image: linear-gradient(to bottom,rgba(0,0,0,.1) 0,rgba(255,255,255,0)1px);
  //background-repeat: repeat-y;;
  //background-size:100% .75rem;
  background-color:$white;
  color: $black70;
}

span.kern{
  letter-spacing:.02em;
}
