$link-color: $black80;
$link-color--hover: $black;
$link-color--active: $black;

a {
  transition: all .2s;
  color:$link-color;
  text-decoration:none;
  box-shadow: 0 1px 0 0;
}
a:visited {
  color: $purple;
}
a:hover   {
  transition: all .2s;
  box-shadow: 0 2px 0 0 ;
}
a:active {
  transition: all .2s;
  color: $link-color--active;
}
a:hover,
a:focus,
a:active {
	color: $link-color--hover;
}
.link {
  text-decoration: none;
  box-shadow:none;
  &:hover{
    text-decoration:none;
    box-shadow:none;
    background-image:none;
  }
  &.active{
    background-color:$gold;
    //box-shadow: 0 2px 0 0 $gold;
  }
}
nav{
  a{
    box-shadow:none;
    &:hover,
    &:active{
      color:$gold;
    }
    &:focus{
      outline:none;
    }
  }
}
.link-underline{
  text-decoration:underline;
  text-decoration-skip: ink;
}
a.button{
  color:$black;
  border-top:1px solid $gold;
  border-bottom:1px solid $gold;
  box-shadow: 0 0 0 0 transparent;
  text-decoration:none;
  padding:$space-m $space-l;
  text-transform:uppercase;
  letter-spacing:.1em;
  font-weight:600;
  font-size:.875rem;
  position: relative;
  &:before{
    transition: all .2s;
    margin:.25rem -.5rem;
    content:' ';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:block;
    border-top:1px solid $gold;
    border-bottom:1px solid $gold;
  }
  &:hover{
    &:before{
      margin:.25rem 0rem;
    }
  }
}
a.btn-big{
    padding:$space-m $space-l;
}
.color-inherit {
  color: inherit;
}
.current{
  box-shadow: 0 .05em 0 0 $black;
}
.current_page_item{
  a{
    box-shadow: 0 .05em 0 0 $gold;
  }
}
a.gold{
  color:$gold;
}
a.hover-gold{
  &:hover{
    color:$gold;
  }
}
a.purple{
  color:$purple;
}
a.hover-purple{
  &:hover{
    color:$purple;
  }
}
a.white{
  color:$white;
}
a.hover-white{
  &:hover{
    color:$white;
  }
}
